@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


[class*="language-"],
span {
  background-color: #e4e4e4 !important;
  text-shadow: none !important;
}

/* 
.md-dark,
[class*="language-"] {
  background-color: #dadada !important;
  text-shadow: none !important;
} */

/* 
[data-theme='dark'],
[class*="language-"],
span {
  background-color: #dadada !important;
  text-shadow: none !important;
}

[data-theme='light'],
[class*="language-"],
span {
  background-color: #b4b4b4 !important;
  text-shadow: none !important;
} */

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */